body {
  background-color: #9f9fdf;
}

h1 {
  color: #fff;
  margin-left: 50px;
  word-spacing: 10px;
}

h3  {
  color: #990099;
  margin-left: 20px;
}

h2  {
  color: ##33334d;
  word-spacing: 20px;
}

div {
  text-indent: 50px;
  color: #ff66cc;
}

#hello {
  padding: 15px;
  background: #262673;
  border: 5px double ##3377ff;
  width: 150px;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
